.App {
  /* text-align: center; */
  margin: 10px;
}

.updateBtn {
  border-radius: 50%;
  background-color: white;
  background: url('./img/update.png') no-repeat ;
  width: 25px;
  height: 25px;
}

.headerDiv {
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  display: inline;
  margin-right: 10px;
}

.addNoteDiv p{
  display: inline;
  margin-right: 10px;
}

.addBtn {
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.removeBtn {
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
}